#select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.option {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 14px;
  margin: 8px;
  color: #1d2b3a;
}

.selected {
  background-color: rgb(198, 29, 53);
  color: white;
}
