.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-input {
  padding: 18px;
  border-radius: 30px;
  width: 354px;
  margin-bottom: 10px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.button-container {
  margin-top: 60px;
}
button {
  padding: 18px;
  border-radius: 30px;
  width: 354px;
  background-color: rgba(198, 29, 53, 1);
  color: white;
  border: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.forget-password {
  text-decoration: underline;

  text-align: center;
  margin-top: 10px;
}

.footer {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
span {
  text-decoration: underline;
}
