<main class="main-content">
  <div class="header">
    <img src="assets/home/background.png" id="background" alt="background" />
    <img src="assets/home/person.png" alt="avatar" id="avatar" />
  </div>

  <div id="home-background">
    <div class="filter-container">
      <span style="display: flex; flex-direction: row">
        <img src="assets/home/lupa.png" class="lupa" />
        <input class="filter-input" placeholder="Buscar carro" />
      </span>
      <button class="filter-button" (click)="this.navigateSearchCarScreen()">
        <span class="material-icons filter-icon">filter_list</span>
        <span class="filter-text">Filtrar</span>
      </button>
    </div>

    <div class="card-container">
      <h4 class="title">Últimas reservas</h4>

      <div class="card-vertical-list">
        @for (vehicle of vehicles.slice(0,3); track vehicle.name) {
        <car-card
          [name]="vehicle.name"
          [year]="vehicle.year"
          [type]="vehicle.type"
          [engine]="vehicle.engine"
          [size]="vehicle.size"
          [image]="'assets/cars/' + vehicle.name + '.png'"
        >
        </car-card>
        }
      </div>

      <div class="card-vertical-list">
        @for (vehicle of vehicles; track vehicle.name) {
        <car-card
          [name]="vehicle.name"
          [year]="vehicle.year"
          [type]="vehicle.type"
          [engine]="vehicle.engine"
          [size]="vehicle.size"
          [image]="'assets/cars/' + vehicle.name + '.png'"
        >
        </car-card>
        }
      </div>

      <div class="qrcode-button-container">
        <button type="button" class="qrcode-button">
          <img src="assets/home/qrcode.png" alt="QR code" />Acessar por QR Code
        </button>
      </div>
    </div>
    <footer>
      <div>
        <span class="material-icons-outlined first-item">home</span>
        <p class="first-item">Início</p>
      </div>

      <div>
        <span class="material-icons-outlined">list alt</span>
        <p>Agendamentos</p>
      </div>

      <div>
        <span class="material-icons-outlined">call</span>
        <p>central</p>
      </div>

      <div>
        <span class="material-icons-outlined">person</span>
        <p>Perfil</p>
      </div>
    </footer>
  </div>
</main>
