<main class="main-content">
  <div class="header">
    <img src="assets/home/background.png" alt="background" />
    <img src="assets/home/person.png" alt="avatar" id="avatar" />
  </div>

  <div id="home-background">
    <div class="filter-container">
      <img src="assets/home/lupa.png" class="lupa" />
      <input class="filter-input" placeholder="Buscar carro" />
      <button class="filter-button">
        <span class="material-icons filter-icon">filter_list</span>
        <span class="filter-text">Filtrar</span>
      </button>
    </div>

    <div class="card-container">
      <h4 class="title">Últimas reservas</h4>

      <div class="card-vertical-list"></div>
    </div>
  </div>
</main>
