<main class="main-content">
  <header>
    <img src="assets/home/lupa.png" class="lupa" />
    <span>BUSCA</span>
  </header>
  <div class="content">
    <div class="header-actions">
      <p>CANCELAR</p>
      <p>FILTROS</p>
      <p>LIMPAR</p>
    </div>

    <!-- parent-component.component.html -->
    <app-collapse>
      <div collapse-header>Tipos de carrocerias</div>
      <div collapse-content>
        <p>This is the collapsible content.</p>
        <p>More content here...</p>
      </div>
    </app-collapse>
  </div>
</main>
