<main class="main-content">
  <header>
    <img src="assets/home/lupa.png" class="lupa" />
    <span>BUSCA</span>
  </header>
  <div class="content">
    <div class="header-actions">
      <p>CANCELAR</p>
      <p>FILTROS</p>
      <p>LIMPAR</p>
    </div>

    <app-collapse>
      <div collapse-header>Tipos de carrocerias</div>
      <div collapse-content>
        <app-checkbox [checkboxes]="checkboxes"></app-checkbox>
      </div>
    </app-collapse>

    <app-collapse>
      <div collapse-header>Tipos de motores</div>
      <div collapse-content>
        <app-toggle-button [items]="engineTypes" helperText="Motor" />
      </div>
    </app-collapse>

    <app-collapse>
      <div collapse-header>Quantidade de lugares</div>
      <div collapse-content>
        <app-toggle-button [items]="sizes" helperText="" />
      </div>
    </app-collapse>
  </div>
</main>
